* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 15px;
    color: chocolate;
}

button {
    margin: 5px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 2px 2px;


}
span {
    margin-top: 10px;
    text-align: center;
    font-size: medium;
}

#resultat {
    text-align: center;
    font-size: x-large;
    width: 40%;
    margin: 15px auto;
}
#scoreJ  {
    margin-top: 15px;
    margin-left: -20px;
}
#scoreR {
    margin-top: 15px;
    margin-left: 80px;
}
#historique {
    font-size: medium;
    margin-top: 10px;

}

